<div class="container body">
    <div class="text-center">
        <h1 class="title">Мои объявления</h1>
        <div class="options">
            <label>Показывать по</label>
            <select class="selectpicker" (change)="setOption($event.target.value)">
                <option *ngFor="let num of options" class="option" [selected]="num===currentSelection">{{num}}</option>
            </select>
        </div>

        <!-- items being paged -->
        <div class="container items">
        <div *ngFor="let item of pagedItems">{{item.name}}</div>
            </div>
        <!-- pager -->
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(1)">Первая</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(pager.currentPage - 1)"><<</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.currentPage + 1)">>></a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.totalPages)">Последняя</a>
            </li>
        </ul>
    </div>
</div>