<div class="container body">
    <div class="text-center">
        <h1 class="title">{{loc.pers_posts}}</h1>
        <div class="options">
            <label>{{loc.pers_show}}</label>
            <select class="selectpicker" (change)="setOption($event.target.value)">
                <option *ngFor="let num of options" class="option" [selected]="num===currentSelection">{{num}}</option>
            </select>
        </div>

        <!-- items being paged -->

        <div class="container items">
            <div class="container poster well" *ngFor="let item of pagedItems">
                <div class="photo-car"><img [src]="getImg(item.file)"></div>
                <div class="item-price"><p class="year-car" align="left">{{item.year}}<p class="main-price" align="left"><b>{{item.priceBlr}} р</b><p class="second-price" align="left">{{item.priceUsd}} $<p class="city-car" align="left">{{item.city}}</div>
                <div class="info"><h3 class="posters-title" align="left" (click)="goPoster(item.id)">{{item.markName}} {{item.modelName}}</h3><p class="characteristics" align="left">{{getTransmission(item.transmission)}}{{getFuel(item.fuel)}} {{item.year}} год<p class="dop-info" align="left">{{item.description}}</div>
            </div>
            </div>
        <!-- pager -->
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(1)">{{loc.pers_first}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(pager.currentPage - 1)"><<</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.currentPage + 1)">>></a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.totalPages)">{{loc.pers_last}}</a>
            </li>
        </ul>
    </div>
</div>