<div class="head">
<h1>{{loc.main_logo}}<b>А</b>{{loc.main_logo2}}</h1>
    </div>
<div class="container info">
    <h4>{{loc.main_text1}} <a (click)="goLogin()">{{loc.site_login}}</a> {{loc.main_text2}} <a (click)="goRegistration()">{{loc.site_reg}}</a></h4>
</div>
    <h1>{{title}}</h1>
<div class="container brands1">
    <img class="brand" src="../../images/logos/audi.png">
    <img class="brand" src="../../images/logos/bmw.png">
    <img class="brand" src="../../images/logos/citroen.png">
    <img class="brand" src="../../images/logos/ford.png">
    <img class="brand" src="../../images/logos/mercedes.png">
</div>
<div class="container brands2">
    <img class="brand" src="../../images/logos/volswagen.png">
    <img class="brand" src="../../images/logos/toyota.png">
    <img class="brand" src="../../images/logos/nissan.png">
    <img class="brand" src="../../images/logos/reno.png">
    <img class="brand" src="../../images/logos/pego.png">
</div>

