.head{
    margin-top: 7%;
    margin-left: 27%;
}
h1{
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 450%;
}
h1:first-letter{
    color: red;
    font-weight: bold;
}
b{
    color: blue;
    font-style: italic;
}
h4{
    font-size: 200%;
    font-family: Andalus;
}
.info{
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    color: darkblue;
    padding-top: 1%;
}
a{
    color: green;
}
a:hover{
    cursor: pointer;
}
.brands1{
    margin-left: 17%;
    padding-top: 5%;
}

.brands1 img{
    width: 1000px;
    height: 360px;
}



