<div class="head">
<h1>Смарт<b>А</b>вто приветствует вас!</h1>
    </div>
<div class="container info">
    <h4>На нашем сайте вы можете приобрести новые автомобили самых известных марок, а также разместить объявления о продаже своих авто. Для этого вам необходимо <a (click)="goLogin()">войти</a> или,
    если у Вас еще нет аккаунта на нашем сайте, <a (click)="goRegistration()">зарегистрироваться</a></h4>
</div>
<div class="container brands1">
    <img class="brand" src="../../images/logos/audi.png">
    <img class="brand" src="../../images/logos/bmw.png">
    <img class="brand" src="../../images/logos/citroen.png">
    <img class="brand" src="../../images/logos/ford.png">
    <img class="brand" src="../../images/logos/mercedes.png">
</div>
<div class="container brands2">
    <img class="brand" src="../../images/logos/volswagen.png">
    <img class="brand" src="../../images/logos/toyota.png">
    <img class="brand" src="../../images/logos/nissan.png">
    <img class="brand" src="../../images/logos/reno.png">
    <img class="brand" src="../../images/logos/pego.png">
</div>

