 <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container mynav">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/main" routerLinkActive="active"><img class="logo" src="../images/logo.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="responsive-menu">
            <ul class="nav navbar-nav mydrop">
                <li><a (click)="goMainPage()"  value>{{loc.app_home}}</a></li>
                <li><a>{{loc.app_catalog}}</a></li>
                <li><a>{{loc.app_map}}</a></li>
            </ul>
            <div class="lang" (click)="changeLang('ru')">RU</div>
            <div class="lang2" (click)="changeLang('en')">EN</div>
            <div class="personal">
                <div  class="container not-profile" *ngIf="!this.localeAuth.checkAuth()">
                    <a class="" (click)="goLogin()">{{loc.site_login}} </a>
                    |
                    <a (click)="goRegistration()"> {{loc.site_reg}}</a>
                </div>
                <div  *ngIf="this.localeAuth.checkAuth()">
                    <img class="no-photo" src="../images/no-photo.png">
                    <a class="login" (click)="goPersonalArea(1)">{{this.localeAuth.getLogin()}}</a>
                    <a class="func" (click)="goPersonalArea(2)"> {{loc.app_post}}</a>
                    <a class="func" (click)="goPersonalArea(3)"> {{loc.app_basket}}</a>
                    <a class="func" (click)="exit()"> {{loc.app_exit}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cont">
    <router-outlet [title]="title2"></router-outlet>
</div>
 <div class="container mytoast">
     <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
 </div>