<div class="all">
    <div class="all-posters">
        <h1>Автомобили</h1>
        <div class="options">
            <label class="for-picker">Показывать по</label>
            <select class="selectpicker" (change)="setOption($event.target.value)">
                <option *ngFor="let num of options" class="option" [selected]="num===currentSelection">{{num}}</option>
            </select>
        </div>
        <div class="sorted">
            <label>Сортировать по</label>
            <select class="sort-field" (change)="filterPosters(true)">
                <option selected>Дате подачи(по возрастанию)</option>
                <option>Дате подачи(по убыванию)</option>
                <option>Цене(по возрастанию)</option>
                <option>Цене(по убыванию)</option>
                <option>Году выпуска(по возрастанию)</option>
                <option>Году выпуска(по убыванию)</option>
            </select>
        </div>
        <div class="container poster well" *ngFor="let item of pagedItems">
            <div class="photo-car"><img [src]="getImg(item.file)"></div>
            <div class="item-price"><p class="year-car" align="left">{{item.year}}<p class="main-price" align="left"><b>{{item.priceBlr}} р</b><p class="second-price" align="left">{{item.priceUsd}} $<p class="city-car" align="left">{{item.city}}</div>
            <div class="info"><h3 class="posters-title" align="left" (click)="goPoster(item.id)">{{item.markName}} {{item.modelName}}</h3><p  class="characteristics" align="left">{{getTransmission(item.transmission)}}{{getFuel(item.fuel)}} {{item.year}} год<p class="dop-info" align="justify" >{{item.description}}</div>
            <div class="basket" *ngIf="item.user.id!=getAuthID() && getAuthID()!=0" (click)="putToBasket(item.id)"><img title="{{getBasketTitle(item.id)}}" src="{{getBasketImg(item.id)}}"></div>
        </div>
        <ul *ngIf="sizeItems!=0 && pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(1)">{{loc.pers_first}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(pager.currentPage - 1)"><<</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.currentPage + 1)">>></a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.totalPages)">{{loc.pers_last}}</a>
            </li>
        </ul>
    </div>
    <div class="sort well">
        <div class="parametrs">
            <h4>Параметры авто</h4>
            <div class="parametr">
                <select (change)="changeMark()" class="mark-all">
                    <option class="first-option">Марка автомобиля</option>
                    <option *ngFor="let mark of addInfo.marks">{{mark.name}}</option>
                </select>
            </div>
            <div class="parametr">
                <select (change)="filterPosters(true)">
                    <option class="first-option">Модель</option>
                    <option *ngFor="let model of models">{{model.name}}</option>
                </select>
            </div>

            <div class="parametr">
                Год выпуска<br/>
                <select class="from-year" (change)="changeYearFrom($event.target.value)">
                    <option class="first-option">С</option>
                    <option *ngFor="let from of yearFrom">{{from}}</option>
                </select>
                <select class="to-year" (change)="filterPosters(true)">
                    <option class="first-option">По</option>
                    <option *ngFor="let to of yearTo">{{to}}</option>
                </select>
            </div>

            <div class="parametr">
                Цена,{{currency}} <a class="change-currency" (click)="changeCurrency(true)">{{changeCurrency(false)}}</a><br/>
                <select class="from-year" (change)="changePriceFrom($event.target.value)">
                    <option class="first-option">От</option>
                    <option *ngFor="let from of priceFrom">{{from}}</option>
                </select>
                <select class="to-year" (change)="filterPosters(true)">
                    <option class="first-option">До</option>
                    <option *ngFor="let to of priceTo">{{to}}</option>
                </select>
            </div>
            <div class="parametr">
                <input type="radio" id="petrol" name="radios" value="PETROL" (click)="radioClick(0)">
                <label for="petrol">Бензин</label>
                <input type="radio" id="diesel" name="radios"value="DIESEL" (click)="radioClick(1)">
                <label for="diesel">Дизель</label>
                <input type="radio" id="hybrid" name="radios" value="HYBRID" (click)="radioClick(2)">
                <label for="hybrid">Гибрид</label>
            </div>

            <div class="parametr">
                Объем двигателя,см.куб.<br/>
                <input (keyup.enter)="filterPosters(true)" (blur)="filterPosters(true)" oninput="javascript:if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength)" maxlength="4" type="number" placeholder="от">
                <input (keyup.enter)="filterPosters(true)" (blur)="filterPosters(true)" oninput="javascript:if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength)" maxlength="4" type="number" placeholder="до">
            </div>

            <div class="parametr">
                <select (change)="filterPosters(true)">
                    <option class="first-option">Привод</option>
                    <option>Передний</option>
                    <option>Задний</option>
                    <option>Полный</option>
                </select>
            </div>

            <div class="parametr">
                Местонахождение <br/>
                <select (change)="filterPosters(true)">
                    <option class="first-option">Выберите город</option>
                    <option *ngFor="let city of addInfo.cities">{{city.name}}</option>
                </select>
            </div>

            <div class="parametr">
                <input type="button" class="btn btn-primary" value="Найдено: {{sizeItems}}">
            </div>
        </div>
    </div>
</div>