<div class="container office well">
    <img (click)="closeNewAdd()" *ngIf="current==4" class="close" src="../../images/close.png">
    <ul class="breadcrumb">
        <li [routerLink]="['profile']" routerLinkActive="active" ><a >{{loc.pers_profile}}</a></li>
        <li [routerLink]="['posters']" routerLinkActive="active"><a >{{loc.pers_posts}}</a></li>
        <li [routerLink]="['basket']" routerLinkActive="active" ><a  >{{loc.app_basket}}</a></li>
        <li [routerLink]="['addPoster']" routerLinkActive="active" *ngIf="newPoster"><a>*{{loc.new_poster}}</a></li>
    </ul>
    <div  [routerLink]="['addPoster']" routerLinkActive="active" class="add_poster" (click)="addPoster()"><h4>{{loc.new_add}}</h4></div>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>