<div class="container all well">
    <h1>{{poster.markName+' '+poster.modelName}}</h1>
    <div class="image-poster">
        <div class="image">
            <img [src]="getImg">
        </div>
        <form enctype="multipart/form-data" *ngIf="curUser || isAdmin">
            <label class="btn btn-primary btn-file">
                {{loc.cur_upload}} <input  type="file" accept="image/jpeg" hidden (change)="selectFile($event)">
            </label>
        </form>
    </div>
    <div class="char">
        <div class="main-info">
            <div class="item-info">
                <div class="label-to">
                    <label>{{loc.cur_mark}}:</label>
                </div>
                <div class="input-el">
                    <label>{{poster.markName}}</label>
                </div>
            </div>

            <div class="item-info">
                <div class="label-to">
                    <label>{{loc.cur_model}}:</label>
                </div>
                <div class="input-el">
                    <label>{{poster.modelName}}</label>
                </div>
            </div>

            <div class="item-info">
                <div class="label-to">
                    <label>{{loc.cur_year}}:</label>
                </div>
                <div class="input-el">
                    <label>{{poster.year}}</label>
                </div>
            </div>

            <div class="item-info">
                <div class="label-to">
                    <label>{{loc.cur_trans}}:</label>
                </div>
                <div  class="input-el">
                    <select  class="transmission">
                        <option>{{loc.trans_front}}</option>
                        <option>{{loc.trans_back}}</option>
                        <option>{{loc.trans_full}}</option>
                    </select>
                    <label *ngIf="!curUser && !isAdmin" class="trans"></label>
                </div>
            </div>


            <div class="item-info">
                <div class="label-to">
                    <label>{{loc.cur_fuel}}:</label>
                </div>
                <div class="input-el">
                    <select class="fuel" >
                        <option>{{loc.fuel_petrol}}</option>
                        <option>{{loc.fuel_diesel}}</option>
                        <option>{{loc.fuel_hybrid}}</option>
                    </select>
                    <label *ngIf="!curUser && !isAdmin" class="fuel2"></label>
                </div>
            </div>

            <div class="item-info">
                <div class="label-to">
                    <label>{{loc.cur_dimension}}:</label>
                </div>
                <div class="input-el">
                    <label *ngIf="!curUser && !isAdmin">{{poster.dimension}} </label>
                    <input   type="number" class="dimension"  oninput="javascript:if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength)" type="number"  maxlength="4">{{loc.cur_sm}}
                </div>
            </div>

            <div class="item-info">
                <div class="label-to">
                    <label>{{loc.cur_price}}:</label>
                </div>
                <div class="input-el">
                    <input  class="cur-input" type="number" maxlength="10">
                    <select  class="cur" (change)="changeCurrency($event.target.value)">
                        <option>$</option>
                        <option>{{loc.cur_rub}}</option>
                    </select>
                    <label *ngIf="!curUser && !isAdmin">{{poster.priceUsd}} $</label><br/>
                    <label *ngIf="!curUser && !isAdmin">{{poster.priceBlr}} {{loc.cur_rub}}</label>
                </div>
            </div>
            <div class="item-info">
                <div class="label-to">
                    <label>{{loc.cur_city}}:</label>
                </div>
                <div class="input-el">
                    <label>{{poster.city}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="area">
        <textarea *ngIf="curUser || isAdmin" cols="90" rows="8" maxlength="255" placeholder="{{loc.cur_placeholder}}">{{poster.description}}</textarea>
        <p *ngIf="!curUser && !isAdmin" class="descript">{{poster.description}}</p>
    </div>
    <img src="../../images/close.png" class="myclose" (click)="exit()">
    <div class="reload"><div class="table-reload"><label class="info-reload">{{loc.cur_update}} {{poster.date}}</label> <label *ngIf="curUser || isAdmin" (click)="goCurrentUser(poster.user)"> {{loc.cur_by}} {{poster.user.login}}</label></div>
        <div class="submit-form"><button *ngIf="curUser || isAdmin" type="button" class="btn btn-success" (click)="saveChanges()">{{loc.cur_save}}</button> </div></div>
</div>
