<div class="container all well">
    <h1>{{poster.markName+' '+poster.modelName}}</h1>
    <div class="image-poster">
        <div class="image">
            <img [src]="getImg">
        </div>
        <form enctype="multipart/form-data" *ngIf="curUser || isAdmin">
            <label class="btn btn-primary btn-file">
                {{loc.cur_upload}} <input  type="file" accept="image/jpeg" hidden (change)="selectFile($event)">
            </label>
        </form>
    </div>
    <div class="char">
        <div class="main-info">
            <div class="item-info">
                <div class="label-to">
                    <label>Марка:</label>
                </div>
                <div class="input-el">
                    <label>{{poster.markName}}</label>
                </div>
            </div>

            <div class="item-info">
                <div class="label-to">
                    <label>Модель:</label>
                </div>
                <div class="input-el">
                    <label>{{poster.modelName}}</label>
                </div>
            </div>

            <div class="item-info">
                <div class="label-to">
                    <label>Год выпуска:</label>
                </div>
                <div class="input-el">
                    <label>{{poster.year}}</label>
                </div>
            </div>

            <div class="item-info">
                <div class="label-to">
                    <label>Привод:</label>
                </div>
                <div  class="input-el">
                    <select  class="transmission">
                        <option>Передний</option>
                        <option>Задний</option>
                        <option>Полный</option>
                    </select>
                    <label *ngIf="!curUser && !isAdmin" class="trans"></label>
                </div>
            </div>


            <div class="item-info">
                <div class="label-to">
                    <label>Тип топлива:</label>
                </div>
                <div class="input-el">
                    <select class="fuel" >
                        <option>Бензин</option>
                        <option>Дизель</option>
                        <option>Гибридный</option>
                    </select>
                    <label *ngIf="!curUser && !isAdmin" class="fuel2"></label>
                </div>
            </div>

            <div class="item-info">
                <div class="label-to">
                    <label>Объем:</label>
                </div>
                <div class="input-el">
                    <label *ngIf="!curUser && !isAdmin">{{poster.dimension}} </label>
                    <input   type="number" class="dimension"  oninput="javascript:if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength)" type="number" (focus)="deleteError(2)" maxlength="4">см.куб.
                </div>
            </div>

            <div class="item-info">
                <div class="label-to">
                    <label>Цена:</label>
                </div>
                <div class="input-el">
                    <input  class="cur-input" type="number" maxlength="10">
                    <select  class="cur" (change)="changeCurrency($event.target.value)">
                        <option>$</option>
                        <option>бел.руб.</option>
                    </select>
                    <label *ngIf="!curUser && !isAdmin">{{poster.priceUsd}} $</label><br/>
                    <label *ngIf="!curUser && !isAdmin">{{poster.priceBlr}} бел.руб.</label>
                </div>
            </div>
            <div class="item-info">
                <div class="label-to">
                    <label>Город:</label>
                </div>
                <div class="input-el">
                    <label>{{poster.city}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="area">
        <textarea *ngIf="curUser || isAdmin" cols="90" rows="8" placeholder="Текст объявления">{{poster.description}}</textarea>
        <p *ngIf="!curUser && !isAdmin" class="descript">{{poster.description}}</p>
    </div>
    <img src="../../images/close.png" class="myclose" (click)="exit()">
    <div class="reload"><div class="table-reload"><label class="info-reload">Обновлено {{poster.date}}</label> <label *ngIf="curUser || isAdmin" (click)="goCurrentUser(poster.user)"> пользователем {{poster.user.login}}</label></div>
        <div class="submit-form"><button *ngIf="curUser || isAdmin" type="button" class="btn btn-success" (click)="saveChanges()">Сохранить</button> </div></div>
</div>
