<div class="container">
    <h2>{{loc.adm_title}}</h2>
    <div class="main">
    <label>{{loc.adm_choose}}</label><br/>
    <select (change)="changeMark()" (focus)="noError()">
        <option>{{loc.adm_mark}}</option>
        <option *ngFor="let mark of marks" >{{mark.name}}</option>
    </select ><br/><br/>
        <label>{{loc.adm_current}}</label><br/>
        <select (focus)="noError()">
            <option>{{loc.adm_model}}</option>
            <option *ngFor="let model of models" >{{model.name}}</option>
        </select><br/><br/>
        <label>{{loc.adm_new}}</label><br/>
        <input type="text" maxlength="30" placeholder="{{loc.adm_new}}" (focus)="noError()" disabled><br/><br/>
        <input type="button" class="btn btn-primary" value="{{loc.adm_add}}" disabled (click)="addModel()"><br/><br/>

        <h4 class="error" *ngIf="error">{{loc.err_noadd}}</h4>
        <h4 class="success" *ngIf="success">{{loc.mes_add}}<img src="../../../images/success.png"></h4>
        </div>
</div>