<div class="mes" *ngIf="modal">
</div>
<div class="text" *ngIf="modal">
    <h2 class="header">{{loc.basket_cong}}!</h2>
    <p class="contains">{{loc.basket_body}} {{priceInModal}}$</p>
    <input type="button" class="btn btn-default" value="OK" (click)="closeModal()">
</div>
<div class="container body">
    <div class="text-center">
        <h1 *ngIf="sizeItems>0" class="title">{{loc.bask_basket}}</h1><h1 *ngIf="sizeItems==0" class="title">{{loc.bask_empty}}</h1><br/><br/>
        <div class="info-posters" *ngIf="sizeItems>0">
            {{loc.bask_goods}}: <b>{{basketCount.size}} </b> {{loc.bask_price}} <b>{{basketCount.priceUsd}}$({{basketCount.priceBlr}} {{loc.cur_rub}})</b>
        </div>
        <div class="options" *ngIf="sizeItems>0">
            <label>{{loc.pers_show}}</label>
            <select class="selectpicker" (change)="setOption($event.target.value)">
                <option *ngFor="let num of options" class="option" [selected]="num===currentSelection">{{num}}</option>
            </select>
        </div>

        <!-- items being paged -->

        <div class="container items">
            <div class="container poster well" *ngFor="let item of pagedItems">
                <div class="photo-car"><img [src]="getImg(item.file)"></div>
                <div class="item-price"><p class="year-car" align="left">{{item.year}}<p class="main-price" align="left"><b>{{item.priceBlr}} р</b><p class="second-price" align="left">{{item.priceUsd}} $<p class="city-car" align="left">{{item.city}}</div>
                <div class="info"><h3 class="posters-title" align="left" (click)="goPoster(item.id)">{{item.markName}} {{item.modelName}}</h3><p  class="characteristics" align="left">{{getTransmission(item.transmission)}}{{getFuel(item.fuel)}} {{item.year}} {{loc.pers_year}}<p class="dop-info" align="justify" >{{item.description}}</div>
                <div class="delete" (click)="deletePoster(item)">{{loc.bask_delete}}</div>
            </div>
        </div>
        <input *ngIf="sizeItems>0 && auth.getUser().role!='ROLE_ADMIN'" type="button" class="btn btn-primary" value="{{loc.bask_buy}}" (click)="buyAll()">
        <!-- pager -->
        <ul *ngIf="sizeItems!=0 && pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(1)">{{loc.pers_first}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(pager.currentPage - 1)"><<</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.currentPage + 1)">>></a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.totalPages)">{{loc.pers_last}}</a>
            </li>
        </ul>

    </div>
</div>
